@using BlazorVault.Web.Client.Domain
@inherits LayoutComponentBase
@inject NavigationManager UriHelper

<div id="app" class="@(!Options.GatesHidden ? "app-gates" : string.Empty)">
    <header>
        <div class="sidebar-header">
            <h3 class="sr-only">Blazor Vault</h3>
            <img src="images/blazor-vault-logo.png" alt="blazor vault logo" />
            <BVLink To="@Routes.Home"><span class="sr-only">Home</span></BVLink>
        </div>
        <BVRow NoGutters Horizontal="Justify.End" class="w-100">
            <div class="header-link-icon @(Options.ShowSideBar ? "active" : string.Empty)" @onclick="ToggleSidebar">
                <span class="sr-only">Components</span>
                <svg width="40" height="40" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(0 -270.54)">
                        <path d="m10 341.06v-19.484l7.4093 0.0544 7.4093 0.0545 0.12108 3.2134-1.1237 1.0971c-4.1823 4.0831-3.0988 10.805 2.1419 13.289 1.2402 0.58773 1.5214 0.63859 3.5239 0.63737 1.966-1e-3 2.2916-0.0579 3.3711-0.58649 1.6615-0.81368 3.1377-2.318 3.9431-4.0182 0.60425-1.2756 0.66514-1.5854 0.66514-3.3838 0-1.8719-0.04253-2.0657-0.78183-3.5615-0.50731-1.0264-1.1077-1.8687-1.7098-2.3987l-0.92801-0.81685v-3.5798l7.4093 0.0544 7.4093 0.0545 0.10834 16.891h6.6076l0.63761-0.92672c1.148-1.6685 2.9251-2.5965 4.9722-2.5965 1.5793 0 2.8992 0.48336 4.0243 1.4737 2.6349 2.3192 2.7668 6.2975 0.29277 8.8249-2.7552 2.8146-7.4206 2.2621-9.523-1.1278l-0.41774-0.67355h-6.5983v16.994h-38.964z" />
                        <path d="m26.874 337.46c-1.9682-0.91644-3.3248-2.8111-3.5458-4.9522-0.22635-2.193 0.96652-4.6234 2.8197-5.7448l0.85619-0.51813-0.05663-3.316-0.05663-3.316-16.891-0.1084v-38.96l38.86 0.1058 0.1088 14.818h-3.4355l-1.031-1.0682c-2.806-2.9073-7.3897-3.2826-10.695-0.87567-1.9215 1.3994-3.0618 3.5351-3.2293 6.0483-0.34288 5.1454 4.1313 9.2635 9.2748 8.5365 1.7469-0.24692 3.4051-1.1014 4.6973-2.4205l1.079-1.1015h3.3342v14.922h-16.995l5.87e-4 3.3678 5.88e-4 3.3678 1.0873 0.84137c3.5852 2.7743 3.1003 8.224-0.9101 10.228-1.6823 0.84064-3.6635 0.89542-5.2733 0.14582z" />
                        <path d="m51.036 311.01v-8.4972l-6.7358 0.016-0.58763 0.92726c-1.2015 1.8959-3.8127 3.0109-6.0727 2.5932-2.8489-0.52664-4.7974-2.7131-4.9975-5.608-0.17745-2.567 1.2101-4.8506 3.6167-5.9524 0.99158-0.45395 1.3517-0.51053 2.7265-0.42839 1.0535 0.0629 1.8695 0.24151 2.4364 0.53315 0.8121 0.41781 2.7746 2.3709 2.7746 2.7613 0 0.10166 1.5389 0.18483 3.4197 0.18483h3.4197v-16.994h38.964v38.963h-14.922v-1.7475c0-1.6953 0.01809-1.7604 0.60648-2.1793 0.89895-0.64009 1.9742-2.2236 2.5026-3.6853 1.0082-2.7892 0.19021-6.2732-1.9724-8.4007-5.5422-5.4524-14.845-0.76695-13.774 6.9374 0.24036 1.7293 1.0541 3.3221 2.3689 4.6369l1.1496 1.1496v3.2889h-14.922z" />
                        <path d="m51.036 353.08v-7.4609h3.1537l1.097 1.1146c1.9515 1.9828 4.6868 2.9155 7.187 2.4506 5.3033-0.98623 8.2238-6.1369 6.344-11.189-0.54672-1.4693-2.3682-3.4185-3.9322-4.208-3.1698-1.6-7.1701-0.90071-9.5791 1.6746l-0.971 1.038h-3.2995v-14.922h16.995l-0.0076-3.3678-0.0076-3.3678-0.90964-0.57612c-1.0325-0.6539-2.0807-2.1064-2.417-3.3493-0.31963-1.1811-0.12351-3.3667 0.39163-4.3645 1.9373-3.7524 7.0751-4.4377 9.8802-1.3178 1.555 1.7295 1.981 4.0309 1.1548 6.2388-0.40894 1.093-1.6684 2.5414-2.6445 3.0411-0.45504 0.23297-0.46632 0.32126-0.46632 3.651v3.4123h16.995v38.963h-38.964zm19.501-47.898a4.1505 4.1505 0 0 0-4.1504 4.1504 4.1505 4.1505 0 0 0 3.1875 4.0332v10.359h-16.668v10.818c1.1049-1.4731 1.8159-2.1266 4.2617-3.0938s5.6246-0.88792 7.9707 0.12891 4.6875 2.8484 5.7637 5.9746c1.0762 3.1262 0.69598 9.2287-3.8828 11.82-4.5788 2.5916-9.6362 1.9473-14.113-1.6074v10.566h34.725v-34.607h-16.289l0.05469-10.338a4.1505 4.1505 0 0 0 3.291-4.0547 4.1505 4.1505 0 0 0-4.1504-4.1504z" />
                    </g>
                </svg>
            </div>
            <a class="header-link-icon" href="https://github.com/gvanastasov/blazorvault">
                <span class="sr-only">Github</span>
                <svg width="40" height="40" version="1.1" viewBox="0 0 100 100" xmlns="http://www.w3.org/2000/svg">
                    <g transform="translate(0 -270.54)">
                        <path d="m51.003 275.54c-4.4291-0.0357-9.0881 0.35751-12.058 1.1536-14.701 3.9409-26.949 15.213-31.707 29.18-3.6317 10.661-2.778 24.785 2.0778 34.37 6.888 13.598 20.319 23.137 35.419 25.155 3.0638 0.40957 12.209-0.14192 15.543-0.93664 15.949-3.802 29.451-16.857 33.523-32.416 1.1644-4.4485 1.5761-14.111 0.80439-18.888-1.5281-9.4575-5.6769-17.452-12.691-24.455-5.9449-5.9354-13.638-10.253-21.897-12.29-2.2638-0.55833-5.5696-0.84606-9.0144-0.87379zm-0.98138 7.5519c6.3156 0 7.4675 0.14116 11.076 1.3519 6.428 2.1566 11.073 5.0102 15.649 9.6146 6.3009 6.3399 9.71 13.371 10.792 22.258 1.6553 13.592-4.8399 27.681-16.367 35.503-2.9027 1.9697-7.8736 4.3174-9.1933 4.3424-0.47348 0.01-0.63041-1.6998-0.63231-6.899-0.0038-7.8263-0.44604-10.013-2.5007-12.349l-1.4406-1.6386 3.657-0.58121c3.9235-0.62327 6.3898-1.5757 9.6202-3.716 5.873-3.8914 7.4834-16.036 3.0562-23.046-1.5456-2.4474-1.6041-2.7129-1.1191-5.0768 0.74468-3.6296-0.43647-8.1861-2.186-8.4326-1.7696-0.2493-4.6384 0.71547-8.0281 2.6989l-2.9402 1.7201-4.3483-0.58024c-3.3214-0.44368-5.5575-0.43887-9.4716 0.0195-5.0071 0.58653-5.1644 0.57307-6.9188-0.56453-3.1911-2.0692-5.7733-3.0549-8.089-3.0877l-2.2656-0.0313-0.73064 2.8815c-0.56722 2.2372-0.61199 3.4586-0.20058 5.4636 0.50925 2.4822 0.46612 2.6773-1.1082 5.013-2.2076 3.2751-3.0442 8.0813-2.2715 13.053 1.2412 7.9869 5.1352 11.618 14.495 13.516 4.091 0.82986 4.1297 0.85261 3.1881 1.8202-0.52436 0.53882-1.3875 1.7715-1.9185 2.7392-0.8102 1.4763-1.3477 1.8295-3.3394 2.1953-3.6307 0.66675-6.1655-0.51173-9.0321-4.1971-1.836-2.3606-2.7484-3.092-4.4122-3.5394-3.177-0.85409-3.6695 0.0771-1.1692 2.2139 1.1 0.94011 2.6487 2.9218 3.4407 4.4033 2.7434 5.1315 4.839 6.4641 10.169 6.4641h3.2116v4.7754c0 3.4916-0.16917 4.7714-0.62934 4.7626-0.34619-7e-3 -1.8815-0.52524-3.4112-1.1536-7.7984-3.2034-15.327-10.761-19.186-19.259-5.3203-11.715-3.8298-26.423 3.7535-37.033 4.7376-6.6286 11.48-11.507 19.725-14.273 3.6089-1.2108 4.7608-1.3519 11.076-1.3519z" />
                    </g>
                </svg>
            </a>
        </BVRow>
    </header>
    <nav class="@(Options.ShowSideBar ? string.Empty : "collapsed")">
        <NavMenu />
    </nav>
    <main class="container">
        <CascadingValue Value="this" Name="layout">
            @Body
        </CascadingValue>
        <footer class="text-right">
            <span>BlazorVault @DateTime.Now.Year</span>
        </footer>
    </main>
</div>
<div id="vault">
    <svg xmlns="http://www.w3.org/2000/svg" xmlns:cc="http://creativecommons.org/ns#" xmlns:dc="http://purl.org/dc/elements/1.1/" xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#" width="100%" height="100%" version="1.1" viewBox="0 0 200 100" class="" preserveAspectRatio="xMidYMid slice">
        <g transform="translate(0 -270.54)" id="vault-gates" class="@(Options.GatesHidden ? "hidden" : "open")">
            <path d="m106.93 270.54-24.592 100h75.578l7.7715-31.598v-68.402z" fill="#dc3545" class="vault-gate-right-0" />
            <path d="m106.93 270.54-24.592 100h75.58l2.4512-9.9648v-90.035z" fill="#990011FF" class="vault-gate-right-1" />
            <path d="m106.93 270.54-24.592 100h119.06v-100z" fill="#4a0008" class="vault-gate-right-2" />
            <path d="m28.571 270.54v100h53.77l24.592-100z" fill="#dc3545" class="vault-gate-left-0" />
            <path d="m34.198 270.54v100h48.143l24.592-100z" fill="#990011FF" class="vault-gate-left-1" />
            <path d="m-0.32115 270.54v100h84.662l24.592-100z" fill="#4a0008" class="vault-gate-left-2" />
        </g>
    </svg>
</div>

@code {
    private LayoutOptions Options { get; set; }

    protected override void OnInitialized()
    {
        Options = new LayoutOptions();
        UriHelper.LocationChanged += OnLocationChanged;
    }

    protected override void OnParametersSet()
    {
        ResetOptions();
    }

    internal void Update(Action<LayoutOptions> setup)
    {
        setup?.Invoke(this.Options);

        if (this.Options.IsDirty)
        {
            this.StateHasChanged();
            this.Options.IsDirty = false;
        }
    }

    private void ResetOptions()
    {
        this.Options.ShowSideBar = false;
        this.Options.GatesHidden = true;
    }

    private void ToggleSidebar()
    {
        this.Options.ShowSideBar = !this.Options.ShowSideBar;
    }

    private void OnLocationChanged(object sender, LocationChangedEventArgs e)
    {
        if (this.Options.ShowSideBar)
        {
            ToggleSidebar();
            StateHasChanged();
        }
    }
}