@using BlazorVault.Components.Layout
@namespace BlazorVault
@inherits BVTabGroupBase

<ul @attributes="@UnknownAttributes" class="@GetClassString()" role="tablist">
    <CascadingValue Value="this">
        @ChildContent
        @foreach (var tab in Tabs)
        {
            <li class="nav-item">
                <a @onclick="@(e => Select(e, tab))" class="nav-link @(tab.IsActive ? "active" : string.Empty)" role="tab">@tab.Trigger</a>
            </li>
        }
    </CascadingValue>
</ul>

<div class="tab-content">
    @if (Active != null)
    {
        <div class="tab-pane fade show active">
            @Active.ChildContent
        </div>
    }
</div>